body {
    background-color: #2685da;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 1080px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

}

main section {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

/* SEÇÃO DE INSERÇÃO DE INFORMAÇÕES */

.secaoInsercaoInformacoes {
    width: 600px;
}
.secaoInsercaoInformacoes h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 5px;
}

.secaoInsercaoInformacoes .tresPontos {
    font-size: 30px;
    margin-bottom: 10px;
}

.secaoInsercaoInformacoes input {
    display: block;
    width: 100%;
    border: none;
    -webkit-box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.12);
    box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.12);
    outline: none;
    border-radius: 3px;
    height: 30px;
    padding: 0 10px;
    box-sizing: border-box; 
    margin:10px 0;  
}

.secaoInsercaoInformacoes button {
    background-color: #2685da;
    display: block;
    width: 100%;
    border: none;
    color: white;
    font-weight: bold;
    padding: 8px 0;
    border-radius: 3px; 
    margin-bottom: 10px;
    font-size: 16px;
}

.formularioEntradaOrcamento {}
.formularioEntradaOrcamento h2{
    font-weight: bold;
    border-bottom: 1px solid rgb(150, 145, 145);
    padding-bottom: 5px;
}
.formularioEntradaOrcamento.input {}
.formularioEntradaOrcamento.button {}

.formularioEntradaDespesa{}
.formularioEntradaDespesa h2{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}
.formularioEntradaDespesa.input{}
.formularioEntradaDespesa.button{}

.containerDespesas{}

.containerDespesas_cabecalho{
    display: flex;
    margin: 40px 0;
}
.containerDespesas_cabecalho p{
    font-size: 16px;
    font-weight: bold;
}

.containerDespesas_cabecalho .tituloDespesa{
    margin-right:150px;
}

.containerDespesas_lista{}
.containerDespesas_lista li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecfbef;
    color: #78ce71;
    font-weight: bold;
    padding: 30px 20px;
    border-radius: 2px;
}
.containerDespesas_lista li h3 {}
.containerDespesas_lista li p {}
.containerDespesas_lista li img {}


/* SEÇÃO DE IMPRESSÃO DE RESULTADOS */

.secaoImpressaoResultados{
    width: 300px;
}

.secaoImpressaoResultados div {
    text-align: center;
    margin-bottom: 50px;
}
.secaoImpressaoResultados div h3{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
.secaoImpressaoResultados div p{
    font-size: 26px;
    font-weight: bold;
}

.secaoImpressaoResultados_orcamento{}
.secaoImpressaoResultados_orcamento h3{}
.secaoImpressaoResultados_orcamento p{
    color: #78ce71;
}


.secaoImpressaoResultados_despesas{}
.secaoImpressaoResultados_despesas h3{}
.secaoImpressaoResultados_despesas p{
    color: #e44f3c;
}


.secaoImpressaoResultados_saldo{}
.secaoImpressaoResultados_saldo h3{}
.secaoImpressaoResultados_saldo p{
    color: #64d2ff;
}


